@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

*{
    font-family: 'Alfa Slab One';font-size: 22px;
    font-weight: 100;
    background-color: black;
    align-content: center

}

.container{
    background-color: rgb(76, 76, 76);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;

}

 #ac{
    width: 86px;
    margin: 2px;
    height: 40px;
    background-color: black;
    border-radius: 25px;
    color: white;
    border: 0ch;
}

.button2{
    font-size:large;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 0ch;
    height: 40px;
    border-radius: 25px;
    margin: 2px;
    color: white;
}

.textBox{
        border: 0px;
        padding-bottom: 10px;
        background-color: rgb(76, 76, 76);
    
    }

#myTextField {
    margin: 2px;
    width: 168px;
    height: 30px;
    border-radius: 25px;
    color: black;
    background-color: rgb(255, 255, 255);

}

.row1{
    background-color: rgb(76, 76, 76);

}

.row2{
    background-color: rgb(76, 76, 76);

}

.row3{
    background-color: rgb(76, 76, 76);

}

.row4{
    background-color: rgb(76, 76, 76);

}

.row5{
    background-color: rgb(76, 76, 76);

}

h1{
    color: white;
}

#ylw{
    background-color: orangered;
}